.about h1 {
    text-align: center;
    color: white;
    font-family: var(--font3);
    font-size: 4rem;
    padding-top: 7rem;
    font-weight: bold;
}

.about {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: black;
}

.aboutRow2 {
    margin-top: 6rem;
}

.aboutDesc {
    font-family: var(--font3);
    color: white;
    font-size: 24px;
    padding-top: 5rem;
}

.headshot {
    width: 25rem;
    height: 25rem;
    border: solid 5px var(--lightGray);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.other {
    margin: 6rem 0;
}

.intPic{
    width: 18rem;
    height: 18rem;
    border: solid 5px var(--lightGray);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: transform .4s;
}

.intPic:hover {
    transform: scale(1.2)
}

#smallHead {
    font-size: 2.5rem;
    padding: 2rem 0;
}

.interests {
    padding-bottom: 10rem;
}