.footer {
    background: var(--black)
}

a {
    text-decoration: none;
}

.footerIcon {
    font-size: 2rem;
    color: white;
    padding-bottom: 3rem;
    transition: transform .4s;
    margin: 30px
}

.footerIcon:hover {
    transform: scale(1.25);
    color: rgb(5, 149, 206)
}

.footerRow {
    text-align: center;
    display: flex;
    justify-content: center
}

.footerText {
    text-align: center;
    color: white;
    font-family: var(--font6);
    font-weight: lighter
}

.logo {
    width: 40px;
    padding-top: 7px;
    padding-right: 5px
}


/* Ipad Pro COMPLETE */
@media screen and (max-width: 1024px) {

}



/* Ipad COMPLETE */
@media screen and (max-width: 769px) {
  
}



/* Iphone 6/7/8 Plus COMPLETE */
@media screen and (max-width: 414px) {
  
}



/* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
@media screen and (max-width: 412px) {
  
}



/* Iphone 5/SE & Galaxy S5 */
@media screen and (max-width: 375px) {
  
}