.footer {
    background: var(--black)
}

a {
    text-decoration: none;
}

.footerIcon {
    font-size: 2rem;
    color: white;
    padding-bottom: 3rem;
    transition: transform .4s;
}

.footerIcon:hover {
    transform: scale(1.25);
    color: rgb(5, 149, 206)
}

.footerRow {
    text-align: center;
}

.footerText {
    text-align: center;
    color: white;
    font-family: var(--font6)
}