.jumbo {
    background: url(../Assets/Images/galaxy1.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100vh;
    width: 100vw;
    color: white;
    text-shadow: 2px 2px 2px var(--lightgray);
    text-align: center;
    padding-top: 22rem;
    margin-bottom: 10rem;
}

.name {
    font-family: var(--font4);
    font-weight: bold;
}

.jumboText {
    font-size: 25px;
    font-family: var(--font4);
    font-weight: bold;
}

/* Ipad Pro COMPLETE */
@media screen and (max-width: 1024px) {
    .jumbo {
        padding-top: 32rem
    }
}



/* Ipad COMPLETE */
@media screen and (max-width: 769px) {
  
}



/* Iphone 6/7/8 Plus COMPLETE */
@media screen and (max-width: 415px) {
    .jumbo {
        padding-top: 12rem
    }
}



/* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
@media screen and (max-width: 412px) {
  
}



/* Iphone 5/SE & Galaxy S5 */
@media screen and (max-width: 375px) {
    .jumbo {
        padding-top: 12rem
    }
}