.projects {
    background-image: url(../Assets/Images/blueLine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 15rem;
    max-width: 100vw
}

.projectHead {
    text-align: center;
    font-size: 4rem;
    font-family: var(--font7);
    font-weight: bold;
    color: white;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.projectsRow {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-evenly
}

.blur {
    position: relative;
}

.blur img {
    width: 27vw;
    height: 30vh;
    border: solid 3px rgba(255, 255, 255, 0.199);
    transition: transform .4s;
}

.blur:hover img {
    filter: blur(1.5px) brightness(50%);
    transform: scale(1.10)
}

.blur p {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 10%;
    width: 80%;
    text-align: center;
    color: white;
    opacity: 0;
    font-family: var(--font7);
    font-size: 1.35rem;
    transition: .5s;
}

.blur:hover p {
    opacity: 1
}



/* Ipad Pro COMPLETE */
@media screen and (max-width: 1024px) {
    .blur img {
        width: 27vw;
        height: 12vh;
        justify-content: space-evenly;
        margin-bottom: 10px
    }
}



/* Ipad COMPLETE */
@media screen and (max-width: 769px) {
  
}



/* Iphone 6/7/8 Plus COMPLETE */
@media screen and (max-width: 415px) {
    .projectsRow {
        flex-direction: column;
        justify-content: center;
        padding: 0
    }
  
    .blur img {
        width: 75vw;
        height: 25vh;
        justify-content: space-around;
        margin-left: 9%;
        margin-bottom: 10px
    }
}



/* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
@media screen and (max-width: 412px) {
  
}



/* Iphone 5/SE & Galaxy S5 */
@media screen and (max-width: 375px) {
  .projectsRow {
      flex-direction: column;
      justify-content: center;
      padding: 0
  }

  .blur img {
      width: 75vw;
      height: 25vh;
      justify-content: space-around;
      margin-left: 9%;
      margin-bottom: 10px
  }
}