.projects {
    background-image: url(../Assets/Images/blueLine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.projectPic1, .projectPic2, .projectPic3 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 0;
    padding-right: 0;
    transition: transform .4s; 
    border: solid 3px rgba(255, 255, 255, 0.199); 
}

/* .projectPic3 {
    width: 90%;
    height: 80.5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 0;
    padding-right: 0;
    transition: transform .4s;
    border: solid 3px rgba(255, 255, 255, 0.199);
} */

.projectPic1:hover, .projectPic2:hover, .projectPic3:hover {
    transform: scale(1.15);
}

.projectHead {
    text-align: center;
    font-size: 4rem;
    font-family: var(--font7);
    font-weight: bold;
    color: white;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.projectsRow {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 15rem;
}

.projectDesc {
    color: white;
    text-align: center;
    padding-top: 1rem;
    font-family: var(--font7);
    font-size: 1.25rem
}